body
{
        background-color: #9bc488; 
        margin: 0 auto;
        padding: 0;
}
.titre
{
        text-align: center;
        font-size: 25px;
        font-weight: bold;  
        border: #b6c027 2px solid;
        padding: 20px; 
}
.img
{
        margin: 35px;
}
 h1
 {
        color: #b6c027;
        text-align: center;
        font-size: 35px;
}
.page
{
        display: flex;
        margin: 60px 60px 0 60px; 
}
.photo
{
        background-color: #fff;
        width: 50%;
        text-align: center;
        object-fit: cover;
        padding-top: 100px;
}
.authentification{
        background-color:#3e885b ; 
        padding-left:50px;
        width: 100%;
    }
 .groupe-1
 {
        padding-bottom: 10px; 
}
.information
{
        display: flex;
}
.form-group 
{
        padding: 15px 0 0 30px;
}
input[type="text"]
{
        width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 2px;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
}
input[type="number"]
{
        width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 2px;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
}
input[type="date"]
{
        width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        color: #9e9999;
        border-radius: 2px;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
}
.sexe
{
        font-size: 18px;
        font-weight: bolder;
        color: #d4e4d8;
        padding-right: 10px;
}
.sexe-mf
{
        color: #ccc;
        font-family: Arial, Helvetica, sans-serif;
}
input[type="color"]
{
        width: 100px;
        height: 30px;
        border-radius: 2px;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
}
label
{
        display: block;
        margin-bottom: 3px;
        font-size: 18px;
        font-weight: bolder;
        color: #d4e4d8;
}
.form-couleur
{
        color: #ccc;
        font-size: 15px;
        font-family:Verdana, Geneva, Tahoma, sans-serif ;
        margin-bottom: 10px;
}
.checkbox
{
        font-size: 13px;
}
button
{
        padding: 15px 50px 15px 50px;
        border:#b6c027;
        background-color:#b6c027;
        border-radius: 2px;
}
a{
        text-decoration: none;
}
i{
        color: #fff;
}
.bouton
{
        color:#ccc;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-weight: bolder;
}
.lien
{
        color: #b6c027;
}
.dernier-texte
{
        font-size: 14px;
        font-style: italic;
}